ion-toolbar{
    margin-left: 8px !important;
    ion-searchbar{
        width: 80vw;
        padding: 0;
        height: 51px;
    }
    ion-button{
        margin-left: -5px;
        padding: 0;
        height: 42px;
        width: 42px;
    }
}
